{extends file="email-layout.tpl"}

{* Open in browser  *}
{block name="browser"}{/block}

{* Subject  *}
{block name="email-subject"}{$email_subject|default:{intl l="Votre carte cadeau au format numérique." d="theliagiftcard.bo.default"}}{/block}

{* Title  *}
{block name="email-title"}{$email_subject|default:{intl l="Votre carte cadeau au format numérique." d="theliagiftcard.bo.default"}}{/block}

{* Content  *}
{block name="email-content"}
    {capture "email_text_default"}
        {include file="../../backOffice/default/include/beneficiary-email-content-default.html"}
    {/capture}
{strip}
<div>
    {$email_text|default:$smarty.capture.email_text_default nofilter}
</div>
{/strip}
{/block}
