<div class="col-md-12 general-block-decorator">
    <div class="row">
        <div class="col-md-12 title title-without-tabs">
            {intl l="Gift Card gestion" d="theliagiftcard.bo.default"}
        </div>
    </div>
    {include file = "include/list_card_tab.html"}
</div>
{include file = "modal/modal-send-gift-card-by-email.html"}
{include file = "modal/modal_manualy_create_gift_card.html"}
{include file = "modal/modal_edit_create_gift_card.html"}
{include file = "modal/config_gift_card.html"}