<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">
    <loops>
        <loop name="gift.card.list" class="TheliaGiftCard\Loop\GiftCardList" />
        <loop name="gift.card.order.list" class="TheliaGiftCard\Loop\GiftCardOrderList" />
    </loops>
    <services>
        <service id="gift.card.service" alias="TheliaGiftCard\Service\GiftCardService" public="true"/>
    </services>
</config>
